/*responsive logo for navbar and sidebar*/
@media (min-width: 320px) {
    .logo {
      width: 70px;
    }
  }
  @media (min-width: 481px) {
    .logo {
      width: 80px;
    }
  }
  @media (min-width: 641px) {
    .logo {
      width: 110px;
    }
  }
  @media (min-width: 961px) {
    .logo {
      width: 140px;
    }
  }
  @media (min-width: 1025px) {
    .logo {
      width: 170px;
    }
  }
  @media (min-width: 1281px) {
    .logo {
      width: 120px;
    }
  }

 /*fixing the sidebar for final time*/
@media (min-width: 575px) {
  .wrapper {
      position: relative;
  }
  .navbar {
      position: fixed;
  }
} 

/*main content section-logo*/

.section-logo {
    height:20%;
    position: relative;
    background-color: #233256;
    z-index: 1;
}

/*responsive design for first section image that is image*/
@media (max-width: 600px) {
    #sec-logo {
      width: 100%;
      height: 100%;
      padding: 10%;
    }
  }
@media (min-width: 600px) and (max-width: 768px) {
    #sec-logo {
      width: 100%;
      height: 100%;
      padding: 8%;
    }
  }
@media (min-width: 768px) and (max-width: 1200px) {
    #sec-logo {
      width: 100%;
      height: 100%;
      padding: 8%;
    }
  }
@media (min-width: 1200px) {
    #sec-logo {
      width: 60%;
      height: 90%;
      padding: 3%;
    }
  }

/*full stretch image for laptops*/
@media (min-width: 1500px) {
    #sec-img0 {
        width: 100%;
    }
}
@media (min-width: 1000px) {
    #sec-img1 {
        width: 100%;
    }
}

/*responsive main content image part*/
@media (max-width: 600px) {
  .section-img {
    width: 100%;
    height: 30%;
    
  }
}
@media (min-width: 600px) and (max-width: 768px) {
  .section-img {
    width: 100%;
    height: 30%;
    
  }
}
@media (min-width: 768px) and (max-width: 1200px) {
  .section-img {
    width: 100%;
    height: 35%;
    
  }
}
@media (min-width: 1200px) {
  .section-img {
    width: 100%;
    height: 35%;
  }
}















.sec-link {
    width: 32%;
    height: 50%;
}

