@media (min-width: 320px) {
    .logo {
      width: 70px;
    }
  }
  @media (min-width: 481px) {
    .logo {
      width: 80px;
    }
  }
  @media (min-width: 641px) {
    .logo {
      width: 110px;
    }
  }
  @media (min-width: 961px) {
    .logo {
      width: 140px;
    }
  }
  @media (min-width: 1025px) {
    .logo {
      width: 170px;
    }
  }
  @media (min-width: 1281px) {
    .logo {
      width: 120px;
    }
  }

/* .logo {
    width: 20px;
} */